/* body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* .container{
    width: auto;
    display: flex;
    justify-content: center;
} */

/* .contactButtons{
    display: flex;
    flex-direction: row-reverse;
} */

/* .buttonShape{
    border-radius: 50%;
    height: 100px;
} */

/* .aboutSection{
    display: grid;
    justify-items: center;
    margin: 0 30% 0 30%;
} */

/* Style the buttons */
.accordion{
    display: flex;
    flex-direction: column;
}

.accordion-header {
    background-color: #f1f1f1;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    text-align: right;
}

/* Add a background color on hover */
.accordion-header:hover {
  background-color: #ccc;
}

/* Hide the panel by default */
.accordion-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.image1{
    background-color: lightblue;
    height: 300px;
}

.image2{
    background-color: skyblue;
    height: 300px;
}

.image3{
    background-color: lightskyblue;
    height: 300px;
}