/* body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* .container{
    width: auto;
    display: flex;
    justify-content: center;
} */

/* .contactButtons{
    display: flex;
    flex-direction: row-reverse;
} */

/* .buttonShape{
    border-radius: 50%;
    height: 100px;
} */

/* .aboutSection{
    display: grid;
    justify-items: center;
    margin: 0 30% 0 30%;
} */